*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
body{
    overflow: hidden;
    background: url(/img/pexels-pixabay-163872.jpg);
    background-size: cover;
    background-position: center ;
    min-height: 100vh;
    background-repeat: no-repeat;
}
header{
    /* why is position absolute is here */
    /* position: absolute; */
    /* why use margin in this parent container you padding instant of margin  */
    /* margin-left: 5rem; */
    /* margin-top: 1rem; */
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 3rem;
    /* background-color: #f2f2f5; */

}
#menu{
    display: none;
}

header .nav{
    display: flex;
    font-size: 1.5rem;
    /* justify-content: space-around; */
    gap: 5rem;
    align-items: center;
}
.nav a:hover{
    border-bottom: 5px solid blue;
}

/* this is the way of getting selector literally this is very disappointed to me 
i{
    font-size: 1.5rem;
    margin-top: 5px;
    margin-left: 3px;
}
h1{
    color: aliceblue;
    margin-left: 1rem;
} 
 h2{
    position: relative;
    margin-top: 1rem;
    margin-left: 18rem;
    color:#fdfbfb;
} */
section{
    display: flex;
}
.line{
    height: 34rem;
    width: .1rem;
    background-color: white;
    margin: 6rem 0px 0px 5rem;
    border-radius: 1rem;
}
.dots_container{
    /* i don't know are your gave margin too much
    margin-top: 10rem;
    margin-left: 4.3rem; */
    /* height: 50%; */
    /* width: 5%; */
     display: flex;
     flex-direction: column;
     gap: 7rem;
     align-items: center;
     padding: 2rem 0;
     /*
     justify-content: center;
     color: #f9efef;
     padding-top: 4rem;
     */
    }
    .dot{
        background-color: #bab5b5;
        height: 2rem;
        width: 2rem;
        border-radius: 50%; 
        text-align: center;
        padding: .5rem;
}
.area_name{
    padding: 16.5rem 5rem;
    display: flex;
    font-size: 2rem;
}
.area p{
    width: 50%;
    font-size: 1rem;

}
.button{
    background-color: blue;
    height: 2.5rem;
    width: 8rem; 
    text-align: center;
    align-items: center;
    position: relative;
    margin-top: 2rem;
    /* padding: .5rem; */
    border-radius: .5rem; 
    /* padding: .5rem 1rem; */
}
.button a{
    font-size: 1.5rem; 
    font-weight: bold;
}
.button:hover {
    border: 2px solid blue;
    color: blue;
    border-radius: 2rem; 
    background-color: transparent;
}
.fram{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.5rem 9rem;
    overflow: hidden;
}
.imges{
    width: 30rem;
    height: 20rem;
    position: relative;
    /* background-color: #fff; */
    border:2px solid #fff;
    border-radius: .5rem;
    overflow: hidden;
    
}
.imges #fram_img{
    height: 100%;
    position: absolute;
    width: 100%;
}
@media(max-width: 500px){
    .nav{
        display: none;
    }
    #menu{
        display: flex;
    }
    header h2{
        display: none;
    }
}