*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
body{
    overflow: hidden;
}
.back_img{
    height: 100dvh;
    width: 100%;
    position: absolute;
    z-index: -300;
    top: 0;
    left: 0;
    transition: 3s;
}
header{
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 3rem;
}
#menu{
    display: none;
}

header nav{
    display: flex;
    font-size: 1.5rem;
    gap: 5rem;
    align-items: center;
}
nav a:hover{
    border-bottom: 5px solid blue;
}


section{
    width:100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    height: 34rem;
    width: .1rem;
    background-color: white;
    margin: 6rem 0px 0px 5rem;
    border-radius: 1rem;
    position: absolute;
}
.dots_container{
    display: flex;
    flex-direction: column;
    gap: 7rem;
    align-items: center;
    padding: 2rem 0;
}
.dot{
    background-color: #bab5b5;
    height: 2rem;
    width: 2rem;
    border-radius: 50%; 
    text-align: center;
    padding: .5rem;
    transition: 3s;
}
.area_name{
    /* padding: 16.5rem 5rem; */
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.para_graph{
    /* width: 30rem; */
    height: 9.5rem;
    /* overflow: hidden; */
}
.graph{
    font-weight: bolder;
    font-size: 1rem;
    transition: 3s;
}
.button{
    background-color: blue;
    height: 2.5rem;
    width: 8rem; 
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: .5rem; 
}
.button a{
    font-size: 1.5rem; 
    font-weight: bold;
}
.button:hover {
    border: 2px solid blue;
    color: blue;
    border-radius: 2rem; 
    background-color: transparent;
}
.fram{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.5rem 9rem;
    overflow: hidden;
    justify-content: flex-end;
}
.imges{
    width: 30rem;
    height: 20rem;
    position: relative;
    display: flex;
    border:2px solid #fff;
    border-radius: .5rem;
    overflow: hidden;
    
}
.imges .fram_img{
    height: 100%;
    width: 100%;
}

@media(max-width: 820px){
    header nav{
        display: none;
    }
    #menu{
        display: block;
    }
}

@media(max-width: 500px){
    .nav{
        display: none;
    }
    #menu{
        display: flex;
    }
    header h2{
        display: none;
    }
}
