*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
body{
    overflow: hidden;
}
.phone{
    display: none;
}
.back_img{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -300;
    top: 0;
    left: 0;
    transition: 2s;
}
header{
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 3rem;

}
#menu{
    display: none;
}

header .nav{
    display: flex;
    font-size: 1.5rem;
    /* justify-content: space-around; */
    gap: 5rem;
    align-items: center;
}
.nav a:hover{
    border-bottom: 5px solid blue;
}
.line{
    height: 34rem;
    width: .1rem;
    background-color: white;
    margin: 6rem 0px 0px 2rem;
    position: absolute;
    border-radius: 1rem;
}
.dots_container{
     display: flex;
     flex-direction: column;
     gap: 7rem;
     align-items: center;
     padding: 2rem 0;
    }
    .dot{
        background-color: #bab5b5;
        height: 2rem;
        width: 2rem;
        border-radius: 50%; 
        text-align: center;
        padding: .5rem;
        transition: 3s;
}
.place_name{
    height: 2.5rem;
    width: 12rem;
    overflow: hidden;
    /* background-color: #900909; */
}
.area_name{
    padding: 0rem 0rem 0rem 5rem;
    display: flex;
    gap: 2rem;
    /* align-items: center; */
}
.area{
    display: flex;
    padding: 6.5rem 0rem 0rem 0rem;
    align-items: center;
}
.place_name #app{
    font-size: 2rem;
    transition: 2s;
    font-weight: bolder;
}
.para_graph{
    width: 30rem;
    display: flex;
    height: 9.5rem;
    position: relative;
    padding: 0rem 0rem 0rem 0rem;
    /* overflow: hidden; */
    flex-wrap: wrap;
    flex-direction: row;
}
#graph{
    font-weight: bolder;
    font-size: 1rem;
    transition: 2s;
}
.button{
    background-color: blue;
    height: 2.5rem;
    width: 8rem; 
    text-align: center;
    align-items: center;
    border-radius: .5rem; 
    font-size: 1.5rem; 
}
.mbox{
    height: 10rem;
    width: 30rem;
    background-color: #fff;
    position: absolute;
    z-index: 400;
    top: 0;
    transform: translateX(40px);
}
.button {
    font-weight: bold;
}
.button:hover {
    color: #bab5b5;
    border: 2px solid blue;
    /* color: blue; */
    border-radius: 2rem; 
    background-color: transparent;
}
.fram{
    display: flex;
    flex-direction: column;
}
.imges{
    display: flex;
    border-radius: .5rem;
    gap: 5rem;
    padding: 0rem 0rem 0rem 10rem; 
    width: 54rem;
    height: 30rem;
    /* background-color: black; */
    overflow: hidden;
    
}
.imges .fram_img{
    transition: 2s;
    height: auto;
    border-radius: 1rem;
    width: 18rem;
    /* position: absolute; */
}
#search{
    display: none;
}
#title{
    font-size: 2rem;
    color: #3c3c3d;
}
#dots_phone{
    display: none;
}
@media(max-width:1444px) {
    header h1{
        font-size: 3rem;
    }
    nav{
        font-size: 2rem;
    }
    .line{
        height: 37rem;
    }
    .dots_container{
        padding: 4rem 0rem;
    }
    .para_graph{
        width: 30rem;
        height: 10.5rem;
    }
    .graph{
        font-size: 1.5rem;
    }
}
@media (max-width:1200px) {
    .imges{
        width: 45rem;
        padding: 0 0 0 1rem;
    }
}
@media (max-width:1030px) {
    header h1{
        font-size: 2.8rem
    }
    .line{
        display: none;
        height: 34rem;
    }
    #dots_phone{
        display: flex;
        gap: .5rem;
        align-items: center;
        padding: .5rem 34rem;
        flex-direction: row;
        /* transform: rotateX(20deg); */
    }
    .dots_p{
        background-color: #fff;
        height: 2rem;
        width: 2rem;
        border-radius: 50%; 
        text-align: center;
        padding: .5rem;
        transition: 3s;
    }
    .area{
        flex-wrap: wrap;
        justify-content: center;

    }
    .area_name{
    padding: 0rem 0rem 0rem 1rem;
    /* gap: 6rem; */
    }
    /* .fram{
        padding: 0rem 1.2rem;
    } */
    /* .dots_container{
        padding: 2rem 0px;
    } */
    .para_graph{
        width: 30rem;
        height: 9.5rem;
    }
    .graph{
        font-size: 1rem;
    }
    .imges{
        padding: 4rem 0 0 0;
        height: 28rem;
        width: 42rem;
    }
}
@media (max-width:965px){
    .back_img{
        height: 100%;
        width: 100%;
    }
    #dots_phone{
        padding: 0rem;
    }
    header{
        padding: 2.5rem 1rem;
    }
    header h1{
        font-size: 3rem
    }
    header .nav{
        gap: 3rem;
        padding: 0rem 0rem 0rem 3rem;
    }
    .area_name{
        flex-direction: column;
        align-items: center;
        padding: 0rem ;
    gap: 6rem;
    }
    .area{
    gap: 5rem;
    padding: 0rem;
    }
    .imges{
        padding: 0 0 0 6rem;
        width: 52rem;
        height: 26rem;
    }
    /* header h2 {
        font-size:1rem;
    } */
}
@media (max-width:825px){
    header .nav{
        gap: 2rem;
        padding: 0rem 2rem 0rem 0rem;
    }
    header h1{
        font-size: 2rem;
    }
    header h2 {
        font-size:1.5rem;
    }
    .back_img{
        width: 100%;
        height: 100%;
    }
    .area_name{
        padding: 0rem 0rem 0rem 0rem;
        gap: 5rem;
    }
    
    .fram{
        padding: 0rem;
    }
}
@media (max-width:715px){
    header h1{
        font-size: 2rem
    }
    header .nav{
        gap: 1rem;
        font-size: 1.2rem;
        padding: 0rem 0rem 0rem 5rem;
    }
    header h2 {
        font-size:1rem;
    }
}
@media (max-width:615px){
    .back_img{
        width: 100%;
        height: 100%;
    }
}
@media (max-width:655px) {
    header .nav{
        display: none;
    }
    .new{
        display: flex;
    }
    #search{
        display: flex;
    }
    .imges{
        width: 40rem;
    }
}
@media (max-width:620px) {
   .imges{
    width: 41rem;
    padding: 0rem 0rem 0rem 0rem;
}
}
@media (max-width:540px) {
    .imges{
        width: 20rem;
        padding: 0rem 0rem 0rem 0rem;
        gap: 2rem;
    }
}
@media (max-width:430px) {
    body{
        background-color: #3c3c3d;
        overflow-y: visible;
    }
    .back_img{
        display: none;
    }
    header .nav{
        display: none;
    }
    header{
        justify-content: space-between;
    }
    .new{
        display: flex;
        gap: 2rem;
    }
    #menu{
        display: flex;
    }
    #search{
        display: flex;
    }
    #dots_phone{
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: .5rem 11rem;
        flex-direction: row;
        /* transform: rotateX(20deg); */
    }
    .dots_p{
        background-color: #fff;
        height: 2rem;
        width: 2rem;
        border-radius: 50%; 
        text-align: center;
        padding: .5rem;
    }
    .phone{
        width: 100%;
        height: 20rem;
        display: flex;
        border-radius: 1rem;
        position: relative;
        background-color: #fff;
        border: 2px solid #fff;
    }
    .phone_img{
        /* display: none; */
        width: 100%;
        border-radius: 1rem;
        height: 100%;
        position: absolute;
    }
    .area_name{
        display: flex;
    }
    #title{
        color: #fff;
    }
    .line{
        display:none;
    }
    .imges{
        height: 23rem;
        padding: 0 0 1rem 0;
    }
} 
@media (max-width:380px) {
    .para_graph{
        width: 27rem;
    }
    #dots_phone{
        padding: .5rem 9rem;
    }
}
@media (max-width:320px) {
    #dots_phone{
        padding: .2rem 7rem;
        gap: .5rem;
    }
    .para_graph{
        width: 22rem;
    }
}

#right{
    position: absolute;
    right: 12rem;
}
#right,#left{
    color: black;
    padding: 1rem 3rem;

}
#left{
    transform: translateX(12rem);
}