*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    list-style: none;
    text-transform: capitalize;
}
body{
    /* overflow: hidden; */
}
.bg_fader{
    width: 100%;
    height: 100vh;
    /* display: flex; why you gave the display flex*/
}
.img{
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    left: 0;
    z-index: -300;
    transition: 0.3s;
}
header{
    /* why is position absolute is here */
    /* position: absolute; */
    display: flex;
    /* why use margin in this parent container you padding instant of margin  */
    /* margin-left: 5rem; */
    /* margin-top: 1rem; */
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.2rem;
}

header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 20rem;
}

li:hover{
    padding: .5rem 0;
    border-bottom: 5px solid cyan;
    /* text-decoration: underline  cornflowerblue ; */
}

.ico{
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 3rem;
    position: relative;
    border-radius: 50%;
    background-color: #b0aaaa;
}
/* this is the way of getting selector literally this is very disappointed to me 
i{
    font-size: 1.5rem;
    margin-top: 5px;
    margin-left: 3px;
}
h1{
    color: aliceblue;
    margin-left: 1rem;
} 
 h2{
    position: relative;
    margin-top: 1rem;
    margin-left: 18rem;
    color:#fdfbfb;
} */
.line{
    height: 30rem;
    width: .1rem;
    background-color: #000;
    position:relative;
    margin-left: 5rem;
    border-radius: 1rem;
}
.dots_container{
    /* i don't know are your gave margin too much
    margin-top: 10rem;
    margin-left: 4.3rem; */
    /* height: 50%; */
    /* width: 5%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-top: 4rem;
}

.dot{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    text-align: center;
    background-color: red;
    /* we use inset in border give the explanation */
    /* border: 10px 10px 20px #fdfbfb; */
    transition: 0.2s;
    color: #fff;
}

.writ{
    position: relative;
    margin-top: 5rem;
    font-size: 5rem;
    color: #fff;
}
p{
    width: 100%;
    margin-top: 1.5rem;
    font-size: .7rem;
}
.twi{
    display: flex;
}
.but{
    border-radius: 1rem;
    margin-top: 3rem;
    background-color: blue;
    border: none;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    height:3rem;
    transition: .4s;
    width: 12rem;
    /* text-align: center; */
}
#but{
    font-size: 2rem;
    margin-top: .5rem;
}
h5{
    color: #fff;
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-left: 3rem;
}
.but:hover{
    background-color: transparent;
    border: 3px solid #2828ed;
}
.but:hover h5{
    color: #f2f2f5;
}
/* .but:hover #but {
    /* background-color: #000; 

} */
.sil{
    display: flex;
    gap: 5rem;
    margin-top: 5rem;
    margin-left: 24rem;
}
.imge{
    width: 100%;
    height: 100%;
    position: absolute;
}
.bok{
    background-color: #fff;
    height: 15rem;
    width: 25rem;
    border-radius: .5rem;
    overflow: hidden;
}
.boi{
    background-color: #fb3636;
    height: 15rem;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    overflow: hidden;
    width: 25rem;
}
.bob{
    background-color: #040000;
    height: 15rem;
    border-radius: .5rem;
    overflow: hidden;
    width: 25rem;
}
.bot{
    background-color: #580d68;
    height: 15rem;
    border-radius: .5rem;
    overflow: hidden;
    width: 25rem;
}
